<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Request</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen font-sans">
<div class="container mx-auto mt-5">
  <h1 class="text-center mb-5 font-bold text-3xl">Add Request</h1>
  <form th:action="@{/budgetrequest/add}" th:object="${budgetrequest}" method="post">
    <div class="mb-5">
      <label class="block font-bold mb-2 text-lg" for="lengthOfStay">Length of Stay</label>
      <input class="border rounded w-full py-2 px-3" id="lengthOfStay" type="text" th:field="*{lengthOfStay}" placeholder="Length">
    </div>
    <div class="mb-5">
      <label class="block font-bold mb-2 text-lg" for="costOfBond">COst of Bond</label>
      <input class="border rounded w-full py-2 px-3" id="costOfBond" type="text" th:field="*{costOfBond}" placeholder="COst">
    </div>
    <div class="mb-5">
      <label class="block font-bold mb-2 text-lg" for="nameRequest">Name of Request</label>
      <input class="border rounded w-full py-2 px-3" id="nameRequest" type="text" th:field="*{nameRequest}" placeholder="Name">
    </div>
    <div class="mb-5">
      <label class="block font-bold mb-2 text-lg" for="requestDetails">Request Details</label>
      <input class="border rounded w-full py-2 px-3" id="requestDetails" type="text" th:field="*{requestDetails}" placeholder="Dtails">
    </div>
    <div class="text-center mt-5">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Add</button>
    </div>
  </form>
</div>
</body>
</html>