<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budget Request</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen font-sans">
<div class="container mx-auto mt-5">
    <h1 class="text-center mb-5 font-bold text-3xl">Budget Requests</h1>
    <div class="text-right mb-5">
        <a href="/budgetrequest/add" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add</a>
    </div>
    <table class="table-auto w-full">
        <thead>
        <tr class="text-left">
            <th class="px-4 py-2">Length of Stay</th>
            <th class="px-4 py-2">Cost of Bond</th>
            <th class="px-4 py-2">Name of Request</th>
            <th class="px-4 py-2">Request Details</th>
            <th class="px-4 py-2"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-left" th:each="budgetrequest : ${budgetrequest}">
            <td class="border px-4 py-2">
                <a th:href="@{/budgetrequest/{id}(id=${budgetrequest.id})}" th:text="${budgetrequest.lengthOfStay}"></a>
            </td>
            <td class="border px-4 py-2" th:text="${budgetrequest.costOfBond}"></td>
            <td class="border px-4 py-2" th:text="${budgetrequest.nameRequest}"></td>
            <td class="border px-4 py-2" th:text="${budgetrequest.requestDetails}"></td>
            <td class="border px-4 py-2">
                <a th:href="@{/budgetrequest/edit/{id}(id=${budgetrequest.id})}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Edit</a>
                <form th:action="@{/budgetrequest/delete/{id}(id=${budgetrequest.id})}" method="get" class="inline-block">
                    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
