<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Request</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen font-sans">
<div class="container mx-auto mt-5">
  <h1 class="text-center mb-5 font-bold text-3xl">Edit Request</h1>
  <form method="post" action="/budgetrequest/edit" th:object="${budgetrequest}" th:action="@{/budgetrequest/edit/{id}(id=${budgetrequest.id})}">
    <input type="hidden" th:field="*{id}"/>
    <div class="mb-5">
      <label class="block font-bold mb-2 text-lg" for="lengthOfStay">Length of Stay</label>
      <input class="border rounded w-full py-2 px-3" id="lengthOfStay" type="text" th:field="*{lengthOfStay}" placeholder="Length of Stay">
    </div>
    <div class="mb-5">
      <label class="block font-bold mb-2 text-lg" for="costOfBond">Cost of Bond</label>
      <input class="border rounded w-full py-2 px-3" id="costOfBond" type="text" th:field="*{costOfBond}" placeholder="Cost of Bond">
    </div>
    <div class="mb-5">
      <label class="block font-bold mb-2 text-lg" for="nameRequest">Name of Request</label>
      <input class="border rounded w-full py-2 px-3" id="nameRequest" type="text" th:field="*{nameRequest}" placeholder="Name of Request">
    </div>
    <div class="mb-5">
      <label class="inline-flex items-center" for="requestDetails">Request Details</label>
        <textarea id="requestDetails" name="requestDetails" rows="10" cols="70" th:field="*{requestDetails}"></textarea>
    </div>
    <div class="text-center mt-5">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Save</button>
    </div>
  </form>
</div>
</body>
</html>
